Repository pantheon-org/opencode-plugins: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, validate-skills, validate-skill-md

lefthook.yml:

# Lefthook configuration for opencode-plugins
# Leverages Nx to run tasks on affected packages
# For more information: https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    # Lint and format affected packages with Biome (combines format + lint)
    biome:
      run: bunx nx affected --target=lint --base=HEAD~1 --head=HEAD --parallel=3 --batch

    # Validate TSDoc on affected packages
    validate-tsdoc:
      run: bunx nx affected --target=validate:tsdoc --base=HEAD~1 --head=HEAD

    # Type-check affected packages using Nx
    type-check:
      run: bunx nx affected --target=type-check --base=HEAD~1 --head=HEAD --parallel=3

    # Lint markdown files in root
    markdown-lint:
      glob: '*.md'
      run: bunx markdownlint-cli2 {staged_files}

    # Validate skills when skill files change
    validate-skills:
      glob: '**/skills/**/*.ts'
      run: bunx nx affected --target=validate:skills --base=HEAD~1 --head=HEAD

    # Validate SKILL.md files when they change
    validate-skill-md:
      glob: '**/SKILL.md'
      run: bunx nx affected --target=validate:skill-md --base=HEAD~1 --head=HEAD

pre-push:
  commands:
    # Run tests on affected packages
    test:
      run: bunx nx affected --target=test --base=origin/main --head=HEAD --parallel=3

    # Build affected packages
    build:
      run: bunx nx affected --target=build --base=origin/main --head=HEAD --parallel=3

    # Lint all affected packages (final check)
    lint-all:
      run: bunx nx affected --target=lint --base=origin/main --head=HEAD --parallel=3

# Skip hooks configuration
# To skip a hook, run: LEFTHOOK=0 git commit
# To skip specific commands: LEFTHOOK_EXCLUDE=lint git commit

output:
  - execution
  - execution_info

feat(notification): Add opencode-notification utility package (#22)
  bun.lock
  packages/opencode-notification/README.md
  packages/opencode-notification/package.json
  packages/opencode-notification/project.json
  packages/opencode-notification/src/index.ts
  packages/opencode-notification/src/notifier.test.ts
  packages/opencode-notification/src/notifier.ts
  packages/opencode-notification/tsconfig.json
Due: markdown-lint

feat(config): add opencode-config utility package
  packages/opencode-config/.eslintignore
  packages/opencode-config/README.md
  packages/opencode-config/package.json
  packages/opencode-config/project.json
  packages/opencode-config/src/index.ts
  packages/opencode-config/src/loader.test.ts
  packages/opencode-config/src/loader.ts
  packages/opencode-config/src/package.test.ts
  packages/opencode-config/src/package.ts
  packages/opencode-config/src/paths.test.ts
  packages/opencode-config/src/paths.ts
  packages/opencode-config/src/types.ts
  packages/opencode-config/tsconfig.json
Due: markdown-lint

chore: update lock file for opencode-config dependencies
  bun.lock
Due: none

fix: remove non-existent validate:tsdoc target from config project.json
  packages/opencode-config/project.json
Due: none

fix: add build dependency to type-check target
  nx.json
Due: none

fix: add missing tsconfig paths for new packages
  tsconfig.base.json
Due: none

feat(config): Add opencode-config utility package (#23)
  bun.lock
  nx.json
  packages/opencode-config/.eslintignore
  packages/opencode-config/README.md
  packages/opencode-config/package.json
  packages/opencode-config/project.json
  packages/opencode-config/src/index.ts
  packages/opencode-config/src/loader.test.ts
  packages/opencode-config/src/loader.ts
  packages/opencode-config/src/package.test.ts
  packages/opencode-config/src/package.ts
  packages/opencode-config/src/paths.test.ts
  packages/opencode-config/src/paths.ts
  packages/opencode-config/src/types.ts
  packages/opencode-config/tsconfig.json
  tsconfig.base.json
Due: markdown-lint

fix: add missing yaml dependency to opencode-skills
  bun.lock
  packages/opencode-skills/package.json
Due: none

fix: remove non-existent validate:tsdoc target from skills project.json
  packages/opencode-skills/project.json
Due: none

fix: resolve Biome linting errors in opencode-skills
  packages/opencode-skills/project.json
Due: none

fix: address Copilot review comments - glob dependency, package cleanup, deprecated category field
  bun.lock
  packages/opencode-skills/package.json
  packages/opencode-skills/src/examples.ts
  tools/executors/package.json
Due: none

refactor: remove duplicate type definitions in skill-validator.ts
  packages/opencode-skills/src/validation/skill-validator.ts
Due: none

chore: update lock file after adding glob dependency
  bun.lock
Due: none

fix: add missing types and exports for skill-validator tests
  packages/opencode-skills/src/types.ts
  packages/opencode-skills/src/validation/skill-validator.ts
Due: none

fix: complete rewrite of types and validator to match test API
  packages/opencode-skills/src/types.ts
  packages/opencode-skills/src/validation/skill-validator.ts
Due: none

fix: correct strict mode behavior in skill validator
  packages/opencode-skills/src/validation/skill-validator.ts
Due: none

refactor: enforce coding standards - 1 function/module, barrel exports, arrow functions
  packages/opencode-skills/src/validation/format-validation-result.ts
  packages/opencode-skills/src/validation/index.ts
  packages/opencode-skills/src/validation/skill-validator.ts
  packages/opencode-skills/src/validation/validate-skill.ts
Due: none

refactor: remove unused BM25 and pattern matching implementations
  packages/opencode-skills/src/bm25.test.ts
  packages/opencode-skills/src/bm25.ts
  packages/opencode-skills/src/pattern-matching.test.ts
  packages/opencode-skills/src/pattern-matching.ts
Due: none

fix: support legacy content field for backward compatibility
  packages/opencode-skills/src/index.ts
  packages/opencode-skills/src/validation/index.ts
  packages/opencode-skills/src/validation/skill-validator.test.ts
  packages/opencode-skills/src/validation/skill-validator.ts
  packages/opencode-skills/src/validation/validate-skill.ts
Due: none

style: fix Biome formatting
  packages/opencode-skills/src/validation/index.ts
Due: none

fix: update .gitignore to include markdown files in OpenCode skills directory
  .gitignore
Due: none

feat: add coding conventions document outlining standards for arrow functions, unit test collocation, and TDD
  AGENT.md
Due: markdown-lint

feat: add subagent-driven development skill and related prompt templates
  .opencode/skills/brainstorming/SKILL.md
  .opencode/skills/disaptching-parallel-agents/SKILL.md
  .opencode/skills/executing-plans/SKILL.md
  .opencode/skills/pr-iteration/SKILL.md
  .opencode/skills/subagent-driven-development/SKILL.md
  .opencode/skills/subagent-driven-development/code-qualitty-reviewer-prompt.md
  .opencode/skills/subagent-driven-development/implementer-prompt.md
  .opencode/skills/subagent-driven-development/spec-reviewer-prompt.md
  .opencode/skills/test-driven-development/SKILL.md
  .opencode/skills/test-driven-development/testing-anti-patterns.md
  .opencode/skills/writing-plans/SKILL.md
Due: markdown-lint, validate-skill-md

feat: add receiving and requesting code review skills, enhance code reviewer prompt template
  .opencode/skills/recieving-code-review/SKILL.md
  .opencode/skills/requesting-code-review/SKILL.md
  .opencode/skills/requesting-code-review/code-reviewer.md
  .opencode/skills/subagent-driven-development/code-qualitty-reviewer-prompt.md
Due: markdown-lint, validate-skill-md

feat: add out of bounds handling for BM25 score calculation and enhance skill definitions with licensing, compatibility, and checklists
  packages/opencode-skills/src/bm25/calculate-score.ts
  packages/opencode-skills/src/examples.ts
Due: none

feat: add receiving and requesting code review skills, enhance code reviewer prompt template
  AGENTS.md
Due: markdown-lint

refactor(opencode-skills): convert all functions to arrow functions and improve code organization
  packages/opencode-skills/src/bm25/build-index.test.ts
  packages/opencode-skills/src/bm25/build-index.ts
  packages/opencode-skills/src/bm25/calculate-score.test.ts
  packages/opencode-skills/src/bm25/calculate-score.ts
  packages/opencode-skills/src/bm25/get-top-skills.ts
  packages/opencode-skills/src/bm25/inverse-document-frequency.test.ts
  packages/opencode-skills/src/bm25/inverse-document-frequency.ts
  packages/opencode-skills/src/bm25/rank-skills.ts
  packages/opencode-skills/src/bm25/term-frequency.test.ts
  packages/opencode-skills/src/bm25/term-frequency.ts
  packages/opencode-skills/src/bm25/tokenize.test.ts
  packages/opencode-skills/src/bm25/tokenize.ts
  packages/opencode-skills/src/create-skills-plugin.ts
  packages/opencode-skills/src/define-skill.test.ts
  packages/opencode-skills/src/define-skill.ts
  packages/opencode-skills/src/examples.ts
  packages/opencode-skills/src/parsers/extract-frontmatter.ts
  packages/opencode-skills/src/parsers/extract-sections.ts
  packages/opencode-skills/src/parsers/index.ts
  packages/opencode-skills/src/parsers/markdown-parser.test.ts
  packages/opencode-skills/src/parsers/markdown-parser.ts
  packages/opencode-skills/src/parsers/markdown-to-skill.ts
  packages/opencode-skills/src/parsers/parse-checklist-items.ts
  packages/opencode-skills/src/parsers/parse-skill-markdown.ts
  packages/opencode-skills/src/parsers/skill-to-markdown.ts
  packages/opencode-skills/src/parsers/split-by-headings.ts
  packages/opencode-skills/src/pattern-matching/escape-regex.test.ts
  packages/opencode-skills/src/pattern-matching/escape-regex.ts
  packages/opencode-skills/src/pattern-matching/find-matching-skills.test.ts
  packages/opencode-skills/src/pattern-matching/find-matching-skills.ts
  packages/opencode-skills/src/pattern-matching/has-intent-to-use.test.ts
  packages/opencode-skills/src/pattern-matching/has-intent-to-use.ts
  packages/opencode-skills/src/validation/format-validation-result.ts
  packages/opencode-skills/src/validation/skill-validator.test.ts
  packages/opencode-skills/src/validation/skill-validator.ts
Due: none

fix(opencode-skills): add version property to SkillFrontmatter type
  packages/opencode-skills/src/bm25/get-top-skills.test.ts
  packages/opencode-skills/src/parsers/extract-sections.test.ts
  packages/opencode-skills/src/parsers/markdown-to-skill.test.ts
  packages/opencode-skills/src/parsers/skill-to-markdown.test.ts
  packages/opencode-skills/src/parsers/types.ts
  packages/opencode-skills/src/validation/index.ts
  packages/opencode-skills/src/validation/skill-validator.ts
  packages/opencode-skills/src/validation/validate-skill.ts
Due: none

fix(opencode-skills): fix get-top-skills test to use proper threshold
  packages/opencode-skills/src/bm25/get-top-skills.test.ts
Due: none

fix(pr-iteration): clean up formatting and add spacing for better readability
  .opencode/skills/pr-iteration/SKILL.md
Due: markdown-lint, validate-skill-md

fix: add missing newline at end of files in prompt templates
  .opencode/skills/subagent-driven-development/code-qualitty-reviewer-prompt.md
  .opencode/skills/subagent-driven-development/implementer-prompt.md
  .opencode/skills/subagent-driven-development/spec-reviewer-prompt.md
Due: markdown-lint

fix: standardize quotes and formatting in TDD examples
  .opencode/skills/test-driven-development/SKILL.md
Due: markdown-lint, validate-skill-md

fix: update MD024 rule to disable duplicate heading check
  .markdownlint-cli2.jsonc
Due: none

fix: include AGENTS.md in markdownlint globs for documentation linting
  .markdownlint-cli2.jsonc
Due: none

fix: update import paths for markdown parser and skill validator
  tools/executors/validate-skill-md/executor.ts
Due: none

fix: add path mapping for opencode-skills in tsconfig
  tsconfig.base.json
Due: none

style: fix biome linting errors in config and executor
  .markdownlint-cli2.jsonc
  tools/executors/validate-skill-md/executor.ts
Due: none

style: apply biome fixes to tools/executors/validate-skills
  tools/executors/validate-skills/executor.ts
Due: none
